#messages-box{
	height:300px;
	width: 400px;
	overflow-y:scroll;
	padding:left:20px;
}


#messages-list li {
	list-style: none;
	position:relative;
	margin:0 0 0 0;
	padding-left:0px;
}



#chatbox{
	width:400px;
}

